@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Condensed:wght@300&display=swap');

*, ::after, ::before {
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;

  --blue-bg: rgb(242, 248, 255);
  --brown: rgb(201, 154, 83);
}

body { background-color: var(--blue-bg); }

@media screen and (max-width: 767px) {
  .item { 
    width: calc(100% - 6px) !important;
    max-width: 400px;
  }
  .item-img {
    width: calc(90vw - 6px) !important;
    max-width: 394px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .item { grid-template-columns: 1fr 300px; }
}

@media screen and (min-width: 1201px) {
  .item { grid-template-columns: 1fr 1fr; }
  .container { grid-template-columns: 1fr 1fr; }
}

.title {
  text-align: center;
  padding: 5vh 0 2px 0;
  font-size: 2.1em;
}

.underline {
  margin: 0 auto 2rem auto;
  background-color: var(--brown);
  width: 3.25em;
  height: 4px;
}

.filter-options {
  text-align: center;
}

.filter-button {
  margin: 0 0.25rem;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid var(--brown);
  font-size: 0.8em;
  color: var(--brown);
  cursor: pointer;
  transition: background-color 300ms, color 300ms;
}

.filter-button:hover {
  background-color: var(--brown);
  color: white;
}

.container {
  gap: 2em;
  width: 90vw;
  max-width: 1080px;
  margin: 2em auto 0 auto;
  display: grid;
  justify-items: center;
}

.item {
  margin: 0;
  display: grid;
  gap: 10px;
}

.item-img {
  object-fit: cover;
  width: 250px;
  height: 150px;
  border: 3px solid var(--brown);
  border-radius: 5px;
}

.item-header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0.75em 0;
  border-bottom: 1px dotted;
}

.item-name { text-transform: capitalize; }

.item-price {
  font-weight: 700;
  color: var(--brown);
  letter-spacing: 0.08em;
}

.item-desc {
  text-align: justify;
  font-size: 0.75em;
}