@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Condensed:wght@300&display=swap');

*, ::after, ::before {
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  --dark-primary: #121212;
  --dark-st: rgba(27, 27, 27, 1);
  --dark-wk: rgba(31, 31, 31, 1);

  --white87: rgba(255,255,255,0.87);
  --white60: rgba(255,255,255,0.6);
  --white38: rgba(255,255,255,0.38);
  --white10: rgba(255,255,255,0.10);

  --purple-87: rgb(187, 134, 252, 0.87);
  --purple-60: rgb(187, 134, 252, 0.6);
  --purple-38: rgba(187, 134, 252,0.38);

  --radius: 6px;
  --window-bradius: 12px;
  --transition: 250ms;
}

@media screen and (max-width: 980px) {
  .down {
    grid-template-rows: 270px 1fr;
  }
}

@media screen and (min-width: 981px)
{
  .down {
    grid-template-columns: 1fr 1fr;
  }
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #121212;
  color: var(--white87);
}

.container {
  height: 80vh;
  width: 100vw;

  display: grid;
  grid-template-rows: 200px 1fr;

  
  align-items: center; /* Vertically center the div */
  justify-content: center;
  text-align: center;
}

.up h1 {
  text-transform: capitalize;
  letter-spacing: 0.08em;
  padding: 0.6rem;
}

.up span {
  color: var(--white60);
}

.up, .down {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;

  padding: 1rem;
  border-radius: var(--window-bradius);
  background-color: var(--dark-st);
}

.down {
  display: grid;
  height: 100%;
  gap: 1.5rem;
}

.image-container img {
  border-radius: var(--radius);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container, .info-container {
  border-radius: var(--radius);
  border: 1px solid var(--white10);
  background-color: var(--dark-st);
}

.tabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tab-button {
  border-radius: var(--radius) var(--radius) 0 0;
  border: 1px solid var(--white60);
  
  padding: 0.6rem 0;
  font-size: 1em;
  cursor: pointer;

  transition: background-color var(--transition), color var(--transition);
  background-color: var(--dark-wk);
  color: var(--purple-60);
}

.tab-button:hover {
  background-color: var(--white10);
  color: var(--purple-87);
}

.active-tab {
  border-bottom: none;
  background-color: var(--dark-st);
}

.tab-info {
  text-align: justify;
  padding: 1em;
}

.tab-info h4 {
  padding-bottom: 0.5em;
}

.vision, .goals, .history { display: none; }

.active-tab-info { display: block; }